<!DOCTYPE html>
<html>
  <head>
    <title>Layout Master</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body>
    <nav class="zone green">
      <ul class="main-nav">
        <li><a href="">About</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Our Team</a></li>
        <li class="push"><a href="">Contact Us</a></li>
      </ul>
    </nav>
    <div class="container zone red">Cover</div>
    <div class="zone blue wrapper">
      <div class="box zone">
        <img src="./images/data_storage_2_2.png" alt="1" />
      </div>
      <div class="box zone">
        <img src="./images/desktop_analytics_2.png" alt="2" />
      </div>
      <div class="box zone"><img src="./images/files_2.png" alt="3" /></div>
      <div class="box zone">
        <img src="./images/monitor_coding_2.png" alt="4" />
      </div>
      <div class="box zone">
        <img src="./images/monitor_settings_2.png" alt="5" />
      </div>
      <div class="box zone"><img src="./images/server_2_2.png" alt="6" /></div>
    </div>
    <footer class="zone yellow">Yvette 2023</footer>
  </body>
</html>
