body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  font-size: 3;
  color: rgb(214, 225, 233);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translate(20%, 20%);
}
hr {
  margin: 20px auto;
    color: #F05F44;
    border: 3px solid #d072d8;
    max-width: 165px;
     
}
.btn{
font-weight: 700;
border-radius: 200px;
text-transform: uppercase;

}
.btn-info{
  background-color: rgb(104, 87, 121);
  border-color: blueviolet;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.btn-info:hover{
  border-width: 5px;
}
.btn-xl{
  padding: 1rem 2rem;
  
}